<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>


  <body class="<%= yield (:body_class) %>">
    <%= render 'layouts/messages' %>
    <%= render 'layouts/nav' %>

    <%= yield(:header) %>

    <div class="container">

      <%= yield %>

    </div>

  </body>
</html>
